.chart-card-root {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--panel, #fff);
  border-radius: 10px;
  display: block;
  box-sizing: border-box;
}
.chart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 9px;
  padding: 2px 2px 0 2px;
}
.chart-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  min-height: 200px;
  min-width: 120px;
}
chart-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
